
    <div class='logindiv'>
        <label class='labellogin'>Register</label>
    </div>
<div class="formdiv">
    <mat-icon class='pericon'>person_outlined</mat-icon>
    <form [formGroup]="registerForm" (submit)="addUser()">
        <div>
                <mat-form-field>
                  <input matInput placeholder="Name" formControlName="name">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Email" formControlName="email">
                </mat-form-field>
                <mat-form-field>
                  <input type ="password" formControlName="password" matInput placeholder="Password">
                </mat-form-field>
                <mat-form-field>
                    <input matInput type ="password" formControlName="confirmPassword" placeholder="Confrim password">
                </mat-form-field>
                <mat-form-field>
                  <mat-select placeholder="Select" formControlName="role">
                    <mat-option value="ADMIN">ADMIN</mat-option>
                    <mat-option value="USER">USER</mat-option>
                  </mat-select>
                </mat-form-field>
                <div class="fileInput">
                    <label for="fileinput">Select Image: </label>
                    <input type="file" id="fileinput" (change)="onFileChange($event)">
                </div>

                 <button [disabled]="registerForm.invalid" class='but' color="primary" mat-flat-button type ="submit">Save</button>
                  <h1 *ngIf="message">{{message}} </h1>
        </div>
    </form>
</div>
