<mat-toolbar color="primary">
    <div class="nav-row">
        <ng-container *ngIf="auth.$login | async">
                <a mat-button routerLink="/profile">Profile</a>
                <ng-container  *ngIf="(auth.$role | async) === 'ADMIN'">
                    <a mat-button routerLink="/users">Users</a>
                    <a mat-button routerLink="/tasks">Tasks</a>
                </ng-container >
            
                <a mat-button (click)="logout()">Logout</a>
        </ng-container>
        <ng-container  *ngIf="!(auth.$login | async)">
                <a mat-button routerLink="/login">Login</a>
                <a mat-button routerLink="/register">Register</a>
        </ng-container>
    </div>
</mat-toolbar>
