<mat-toolbar color="primary">
    <div class="nav-row">
        <ng-container *ngIf="auth.$login | async">
                <a mat-button routerLink="">Profile</a>
                <a mat-button routerLink="">Users</a>
                <a mat-button routerLink="">Tasks</a>
                <a mat-button routerLink="">Logout</a>
        </ng-container>
        <ng-container  *ngIf="!(auth.$login | async)">
                <a mat-button routerLink="/login">Login</a>
                <a mat-button routerLink="/register">Register</a>
        </ng-container>
    </div>
</mat-toolbar>
