
    <div class='logindiv'>
        <label class='labellogin'>Login</label>
    </div>
    <div class='formdiv'>
    <mat-icon class='pericon'>person_outlined</mat-icon>
    <form [formGroup]="loginForm" (submit)="login()">
        <mat-form-field class='inputfield'>
            <input class='input' matInput placeholder="Email" formControlName="email">
        </mat-form-field>
        <mat-form-field class='inputfield'>
            <input class='input' type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>
        <button [disabled]="loginForm.invalid" class='but' color="primary" mat-flat-button type ="submit">Login</button>
        <button class='but' matButton routerLink="/register" >Register</button>
        <h1 *ngIf="message">{{message}} </h1>
    </form>
    </div>
