<div class="formdiv">
        <form [formGroup]="taskForm" (submit)="addTask()">
            <div class= "flex">
                    <mat-form-field>
                      <input matInput placeholder="Name" formControlName="name">
                    </mat-form-field>
                    <mat-form-field>
                        <textarea matInput placeholder="Description" formControlName="description"></textarea>
                    </mat-form-field>
                    <mat-form-field>
                            <input matInput [matDatepicker]="startpicker" placeholder="Choose a start date" formControlName="startDate">
                            <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
                            <mat-datepicker #startpicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field>
                            <input matInput [matDatepicker]="endpicker" placeholder="Choose a end date" formControlName="endDate">
                            <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
                            <mat-datepicker #endpicker></mat-datepicker>
                    </mat-form-field>
                     <button [disabled]="taskForm.invalid" color="primary" mat-flat-button type ="submit">Save</button>
                     <button  class="but" color="primary" mat-flat-button type="button" (click)="dialogRef.close(null)">Cancel</button>
            </div>
        </form>
</div>
